<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>SMS Reminder App</title>
</head>
<body>
    <div class="container">
        <h1>SMS Reminder App</h1>
        <p>Create reminders and receive notifications via SMS!</p>
        <div class="button-container">
            <a href="/sms" class="button sms"><i class="fas fa-comment"></i> SMS</a>
        </div>
    </div>
</body>
</html>
